
   <style>
       input, textarea, .uneditable-input {
    width: 700px;
}
   </style>
 <div class="row">
    <div class="col-md-6">
 <h2>Add New Post</h2>
<form name="postForm" ng-submit="addPost()" novalidate>
 <table class="table table-bordered">
  
     <tr class="well">
                   <td>
                          <h4>Title</h4>
                        <input type="text" ng-model="blog.post.title" required/>
                   </td>
                </tr>
     <tr class="well">
                   <td>
                           <h4>Body</h4>
                        <textarea ng-model="blog.post.body"  width="300px" rows="4" required></textarea>
                   </td>
                </tr>
     <tr class="well">
                   <td>
                     <label for="">Featured Image URL</label>
                        <input type="text" ng-model="blog.post.image" placeholder="enter image path" />
                   </td>
                </tr>
                     <tr class="well">
                   <td>
                        <label for="">by:</label>
                        <input type="text" ng-model="blog.post.author" placeholder="Author Name" required />
                   </td>
                </tr> 
       <tr class="well">
                <td  class="tdCenter">
                    <button type="submit" ng-disabled="postForm.$invalid" class="btn btn-primary">
                      Submit</button>
                   
                </td>
            </tr>
      </table>
       </form>
   </div>
</div>  
